//.table-employee {
//  .pagination {
//    //float: right;
//    margin: 0;
//  }
//
//  //.sizer-page {
//  //  margin-bottom: 5px;
//  //  width: auto;
//  //
//  //  p {
//  //    margin: 0 0 0 5px;
//  //  }
//  //}
//
//
//}
//
//.row-expansion-style {
//  padding: 0 !important;
//}
//
//.search-label {
//  width: 100%;
//}
//
//.selection-row {
//  > td {
//    white-space: normal !important;
//    text-overflow: unset !important;
//    overflow: visible !important;
//  }
//}
//
//.row-check-input {
//  input[type=checkbox], input[type=radio] {
//    margin-left: -3px !important;
//  }
//}
//
//.search-label {
//  margin-top: 10px;
//}
//
//.react-bootstrap-table-page-btns-ul {
//  margin-top: 10px;
//}
//
//.save-block-button {
//  margin: 10px;
//}
//
//.fa-bars, .fa-close {
//  color: #007bff;
//}
//
//.fa-bars:hover, .fa-close:hover {
//  color: #0062cc;
//}
//
//.parent-expand {
//  background-color: antiquewhite;
//}
//
//.row-first-elem > :first-child {
//  text-align: center !important;
//  vertical-align: middle !important;
//}
//
////.pagination.react-bootstrap-table-page-btns-ul {
////  margin-left: 10px;
////  margin-bottom: 30px;
////}

.sizer-page {
  display: inline-block;
  width: 100%;

  p {
    margin-left: 10px;
    display: inline-block;
  }

  button {
    display: inline-block;
  }
}
//
//.status-lock {
//  p, i {
//    display: inline-block;
//  }
//}
//
////
////.table-hover tbody tr:hover {
////  .reset-expansion-style {
////    background: white;
////  }
////}
//
//.input-row-space {
//  white-space: nowrap;
//  overflow: hidden;
//  text-overflow: ellipsis;
//  vertical-align: middle;
//}
//
////
////.changed-row {
////  background-color: #b9eac4
////}
//
//.error-row {
//  background-color: #f5c6cb;
//}