%table-demo {
  text-align: center;
  vertical-align: middle !important;
  padding: 10px !important;
  border: 0 !important;
  border-bottom: 1px solid #dee2e6 !important;

  font-size: 0.8rem;

  i {
    font-size: 1.2rem;
  }
}

.table-demo-header {
  @extend %table-demo
}

.table-demo-content {
  @extend %table-demo
}

