<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${edu.omsu.eservice.log.file:-tmp/eservice-project.log}</file>
        <append>true</append>
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %-37logger{36}%msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="scalikejdbc" level="${edu.omsu.eservice.log.jdbc:-INFO}"/>
    <logger name="edu.omsu.eservice" level="${edu.omsu.eservice.log.own:-INFO}"/>

    <root level="${edu.omsu.eservice.log.root:-INFO}">
        <appender-ref ref="FILE"/>
    </root>
</configuration>
